.page-projects {
    flex: 1;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 200px;
}

.app-projects {
    padding: 10px 0;
    color: black;
    margin: 1em;
    grid-area: main;
}

.branches_item {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10px;
}

.branches_item:hover {
    background-color: #f4e1d2;
    color: black;
    cursor: pointer;
}


