[Unit]
Description=nabu blue service
ConditionPathExists=/apps/nabu/blue
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/apps/nabu/blue
ExecStart=/apps/nabu/blue/app -port=:10001

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/nabublue
ExecStartPre=/bin/chown syslog:adm /var/log/nabublue
ExecStartPre=/bin/chmod 755 /var/log/nabublue
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nabublue

[Install]
WantedBy=multi-user.target