.page-main {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 200px;
}

.app-main {
    padding-top: 10px;
    background-color: #eaece5;
    color: #fff;
    grid-area: main;
}
