.btn {
    background: rgba(0, 0, 0, 0.2) none scroll;
    border-radius: 5px;
    border: 0 none rgb(0, 0, 0);
    box-sizing: border-box;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0;
    outline: rgb(0, 0, 0) none 0;
    position: relative;
    text-align: center;

    font-size: 16px;
    min-width: 80px;
    white-space: nowrap;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    padding: 3px 16px;
    cursor: pointer;
}

.btn_color_default {
    background: #65a9d7;
}

.btn_color_default:active {
    background: rgba(101, 169, 215, 0.5) none scroll;
}

.btn_color_success {
    background: #26a972;
}

.btn_color_success:active {
    background: rgba(38, 169, 114, 0.5);
}

.btn_color_danger {
    background: #d04e4e;
}

.btn_color_danger:active {
    background: rgba(208, 78, 78, 0.5);
}
