[Unit]
Description=firstfile blue service
ConditionPathExists=/apps/firstfile/blue
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
StartLimitInterval=60
WorkingDirectory=/apps/firstfile/blue
ExecStart=/apps/firstfile/blue/app -port=:10201

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/firstfileblue
ExecStartPre=/bin/chown syslog:adm /var/log/firstfileblue
ExecStartPre=/bin/chmod 755 /var/log/firstfileblue
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=firstfileblue

[Install]
WantedBy=multi-user.target