#/lib/systemd/system/traefik.service
#

[Unit]
Description=Traefik

[Service]
Type=notify
ExecStart=/usr/bin/traefik --configFile=/etc/traefik.toml
Restart=always
WatchdogSec=1s

[Install]
WantedBy=multi-user.target

# sudo systemctl enable traefik.service
# sudo systemctl start traefik.service