.App {
    text-align: center;
}

.App-Title {
    font-size: 1.5em;
}

.App-Intro {
    font-size: large;
}

.projects {
    padding: 10px 0;
    color: black;
    margin: 1em;
}

.projects_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px;
}

.projects_item:hover {
    background-color: #f4e1d2;
    color: black;
    cursor: pointer;
}

.branches_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
}

.branches_item:hover {
    background-color: #f4e1d2;
    color: black;
    cursor: pointer;
}

.commits_item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr;
    padding: 0 10px;
    cursor: pointer;
}

.commits_item:hover {
    background-color: #f4e1d2;
    color: black;
}
